body {
    background: linear-gradient(to right, rgb(85, 0, 0), rgb(170, 0, 0), rgb(255, 0, 0), rgb(255, 85, 0), rgb(255, 170, 0),
     rgb(255, 255, 0), rgb(170, 255, 0), rgb(85, 255, 0), rgb(0, 255, 0), rgb(0, 255, 85), rgb(0, 255, 170), rgb(0, 255, 255),
     rgb(0, 170, 255), rgb(0, 85, 255), rgb(0, 0, 255), rgb(85, 0, 255), rgb(170, 0, 255), rgb(255, 0, 255));
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    cursor: pointer;
}

#divEsconder {
    text-align: right;
}

#btnEsconder {
    white-space: normal;
    font-size: 15px;
    width: 85px;
    height: 50px;
    padding: 5px;
    background-color: white;
    box-shadow: 2px 2px 10px black;
    border-radius: 5px;
    border-style: none;
}

#divMain {
    background-color: white;
    box-shadow: 2px 2px 10px black;
    width: 750px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    border-radius: 15px;
}

#divOp {
    margin-left: 75px;
    margin-right: 75px;
    text-align: left;
}

dt {
    font-size: 20px;
    margin: 10px;
    margin-top: 20px;
}

.colorPicker {
    margin: 5px;
    border-style: hidden;
    background-color: inherit;
    width: 75px;
    height: 50px;
}

.divColorPicker {
    display: inline-block;
    font-size: 15px;
    text-align: center;
}

#divGradient1 {
    margin-left: 75px;
}

#divGradient2 {
    float: right;
    margin-right: 75px;
}

#urlImage {
    cursor: auto;
    margin-top: 1px;
    font-size: 13px;
    padding: 2px;
    width: 500px;
}

#btnAplicar {
    font-size: 15px;
    margin-top: 5px;
}